/* Define color variables */
:root {
    --primary-color: #127CA5;
    --secondary-color: #028D15;
    --accent1-color: #B57C28;
    --accent2-color: #BA5D3B;
    --heading-font: "Ubuntu", sans-serif;
    --text-font: "Roboto", sans-serif;
}

/* Apply a clean style to the entire page */
body {
    font-family: var(--text-font);
    font-weight: 400; 
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
}
header img {
    width: 100px;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

/* Hero section */
.hero {
    position: relative;
    text-align: center;
    height: 200px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: var(--accent1-color);
    padding: 10px;
    border-radius: 5px;
}

/* Sections */
section h2 {
    text-align: center;
}
/* Adventure Gallery */
.adventure-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
.adventure-gallery figure {
    flex: 1 1 calc(20% - 15px);
    text-align: center;
    max-width: 200px;
}
.adventure-gallery img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}
.adventure-gallery figcaption {
    font-size: 14px;
    margin-top: 5px;
}
/* Floating image */
.float-img{
    float: left;
    margin: 10px;
    width: 200px;
    height: auto;
}
h2 {
    color: var(--secondary-color);
}

/* Call to Action Button */
button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: darkgreen;
}
/* Quote Block */
blockquote {
    border-left: 5px solid var(--accent1-color);
    padding: 10px;
    font-style: italic;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--accent2-color);
    color: white;
}
.footer-socials {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.footer-socials img {
    width: 30px;
    height: 30px;
}
/* Links */
a:hover {
    color: var(--accent2-color);
}